# # ======================
# # LocalNet configuration
# # uncomment below to use
# # ======================

# VITE_ENVIRONMENT=local

# # Algod
# VITE_ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
# VITE_ALGOD_SERVER=http://localhost
# VITE_ALGOD_PORT=4001
# VITE_ALGOD_NETWORK=""

# # Indexer
# VITE_INDEXER_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
# VITE_INDEXER_SERVER=http://localhost
# VITE_INDEXER_PORT=8980

# # KMD
# # Please note:
# # 1. This is only needed for LocalNet since
# # by default KMD provider is ignored on other networks.
# # 2. AlgoKit LocalNet starts with a single wallet called 'unencrypted-default-wallet',
# # with heaps of tokens available for testing.
# VITE_KMD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
# VITE_KMD_SERVER=http://localhost
# VITE_KMD_PORT=4002
# VITE_KMD_WALLET="unencrypted-default-wallet"
# VITE_KMD_PASSWORD=""

# VITE_DISPENSER=1008
# VITE_USDCA=1012
# VITE_EVENT_FACTORY_CONTRACT=1002
# VITE_GEOMAP_API_KEY=wEc1d5wUOVdurppuHj6T
# VITE_WALLET_CONNECT_ID=b0d2678b46a0a6f3164c32c1ea3cf5e4
# VITE_PINATA_API_KEY=bb8add70d20aabb8dd9d
# VITE_PINATA_API_SECRET=e750fe894535a64a82914e84ac1b557804a9f4de4eceba598c4c69b5533ae4fc
# VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIwNzlkYWU3Mi0xY2FjLTRjY2UtYjg3MC0zYjhiZjgxNmQ3NWUiLCJlbWFpbCI6ImVzdGViYW4uZGllemxhaXpAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9LHsiaWQiOiJOWUMxIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImJiOGFkZDcwZDIwYWFiYjhkZDlkIiwic2NvcGVkS2V5U2VjcmV0IjoiZTc1MGZlODk0NTM1YTY0YTgyOTE0ZTg0YWMxYjU1NzgwNGE5ZjRkZTRlY2ViYTU5OGM0YzY5YjU1MzNhZTRmYyIsImlhdCI6MTcxODEzOTM3M30.Tc_Os_tylAX8vKM1UcBMb8n7nbjrW5XG8DvkjTtncgQ

# ======================
# TestNet configuration:
# uncomment below to use
# ======================

VITE_ENVIRONMENT=local

# Algod
VITE_ALGOD_TOKEN=""
VITE_ALGOD_SERVER="https://testnet-api.algonode.cloud"
VITE_ALGOD_PORT=""
VITE_ALGOD_NETWORK="testnet"

# Indexer
VITE_INDEXER_TOKEN=""
VITE_INDEXER_SERVER="https://testnet-idx.algonode.cloud"
VITE_INDEXER_PORT=""

VITE_DISPENSER=680738109
VITE_USDCA=680738127
VITE_EVENT_FACTORY_CONTRACT=680738089
VITE_GEOMAP_API_KEY=
VITE_WALLET_CONNECT_ID=
VITE_PINATA_API_KEY=
VITE_PINATA_API_SECRET=
VITE_PINATA_JWT=

# # ======================
# # MainNet configuration:
# # uncomment below to use
# # ======================

# VITE_ENVIRONMENT=production

# # Algod
# VITE_ALGOD_TOKEN=""
# VITE_ALGOD_SERVER="https://mainnet-api.algonode.cloud"
# VITE_ALGOD_PORT=""
# VITE_ALGOD_NETWORK="mainnet"

# # Indexer
# VITE_INDEXER_TOKEN=""
# VITE_INDEXER_SERVER="https://mainnet-idx.algonode.cloud"
# VITE_INDEXER_PORT=""
